* {
    box-sizing: border-box;
}

#table {
    border: 1px solid black;
}

#search {
    display: inline;
}

.inRow {
    display: inline;
    border: 1px solid red;
}

.row:hover {
    background-color: aqua;
}

.controlBTN {
    position: static;
    border: 1px solid blue;
    display: inline-block;
    cursor: pointer;
    padding: 1vw;
    margin-top: 10vw;
}

.controlBTN:hover {
    background-color: tomato;
}