* {
    /* border: 1px solid red;*/
}

body {
    background-color: rgb(58, 58, 58);
}

.controlBTN {
    position: relative;
    border: 1px solid blue;
    display: inline-block;
    cursor: pointer;
    padding: 1vw;
    margin-top: 10vw;
}

.controlBTN:hover {
    background-color: tomato;
}


/*Hogy a böngészőben pointer legyen a kurzor a file tallózásakor (Importgomb) is*/

input[type="file"],
input[type="file"]::-webkit-file-upload-button {
    cursor: pointer;
}


/*MODAL TEST CSS PROPERTIES by Mate */

.modal-new {
    display: flex;
    border: 2px solid black;
    border-radius: 15px;
    width: 400px;
    height: 400px;
    padding: 0px;
    justify-content: center;
    text-align: center;
    display: none;
}

.modalCancel {
    font-size: 15px;
    background: red;
    color: white;
    margin-top: 20px;
    display: block;
    width: 100%;
}

#modal-btn {
    width: 100%;
    margin-top: 20px;
    font-size: 20px;
}


/*MODAL TEST CSS END*/